
/*
 * @Author: xzl 
 * @Date: 2019-10-17 14:04:23 
 * @Last Modified by: xzl
 * @Last Modified time: 2019-11-18 15:56:46
 */

 #page {
    text-align: right;
}

#btnGroup {
    margin-top: 7px;
    float: right;
}
.control_div {
    padding: 5px 5px  10px 10px !important;
    border-bottom: 2px solid #f2f2f2;
    margin-bottom: 2px;
}


.tab_content{
    margin: 0 10px;
      
    height: 100%;
    flex-grow: 1;
    display: flex;
    display: -webkit-flex;
    flex-direction: row;

}
.tab_content_tab{
    flex-grow: 1;
    width: 1px;
    margin-right: 5px;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #e6e6e6;
}
.tab_content_tree{ 
  
    width: 380px;
    height: 100%;

}
.layui-table, .layui-table-view {
     margin: 0; 
}

#table_page .layui-laypage{
    margin-bottom:0;
    margin-left: 5px;
}
.layui-form-checkbox span{
    padding-left: 20px !important;
}
.addFrom_item > .layui-input-inline{
    width: 55%!important;
}
.right_cotent{
    margin-top: 25px;
    width: 100%;
    height: calc(100% - 25px);
}
#addRoleTree{
    border:  1px solid #f2f2f2;
  

}