<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" th:href="@{/public/lib/layui/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/public/css/layuimini.css}" media="all">
    <link rel="stylesheet" th:href="@{/public/css/public.css}" media="all">
    <link rel="stylesheet" th:href="@{/public/lib/font-awesome-4.7.0/css/font-awesome.min.css}" media="all">
    <link rel ="stylesheet" th:href="@{/public/lib/layui_exts/eleTree.css}" media="all">
    <link rel="stylesheet" th:href="@{/public/lib/lay-module/formSelects/formSelects-v4.css}" media="all" />

    <script type="text/javascript" th:src="@{/public/lib/layui/layui.js}"></script>
    <script type="text/javascript" th:src="@{/public/lib/axios/polyfill.min.js?features=es6}"></script>
    <script type="text/javascript" th:src ="@{/public/lib/form-select/xm-select.js}"></script>
    <script type="text/javascript" th:src="@{/public/lib/echarts/echarts.min.js}"></script>
    <script type="text/javascript" th:src="@{/public/lib/moment/moment.min.js}"></script>
    <script type="text/javascript" th:src="@{/public/js/admin/public.js}"></script>
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body> 
    <div th:include="::content"></div>
</body>

</html>