<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="admin/layout">
<div th:fragment="content">
    <link rel="stylesheet" th:href="@{/public/css/admin/alarm/query.css}" media="all" />
    <div class="container">
        <blockquote class="layui-elem-quote  tabBreacrumb">
            <span class="layui-breadcrumb" lay-separator=">">
                <a class="park_select"></a>
                <span th:each="item:${nb}">
                    <a th:text="${item}"></a>
                    </span>
            </span>
        </blockquote>
        <div class="control_div">
            <div class="layui-inline">
                <form class="layui-form">
                    <div class="layui-inline search_margin">
                        <label class="search_label">报警名称：</label>
                        <div class="layui-input-inline">
                            <input type="text" value="" class="layui-input search_input" id="search_alarmName">
                        </div>
                    </div>
                    <div class="layui-inline search_margin">
                        <label class="search_label">时间：</label>
                        <div class="layui-input-inline">
                            <input type="text" value="" class="layui-input search_input" id="search_start_time">
                        </div>
                        <div class="layui-input-inline">~</div>
                        <div class="layui-input-inline">
                            <input type="text" value="" class="layui-input search_input" id="search_end_time">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="search_label">确认状态：</label>
                        <div class="layui-input-inline" id="status_select" style="width:100px">

                        </div>
                    </div>
                </form>
            </div>
            <div class="layui-inline" id="btnGroup">
                <div class="layui-inline">
                    <button class="layui-btn  layui-btn-sm "   th:if="${MENU0602Query.visible}" id="search_btn">查询</button>
                </div>
                <div class="layui-inline">
                    <button class="layui-btn  layui-btn-sm "   th:if="${MENU0602Ack.visible}"id="confirm_btn">确认</button>
                </div>
                <div class="layui-inline">
                    <button class="layui-btn   layui-btn-sm "   th:if="${MENU0602Memo.visible}" id="memo_btn">备注</button>
                </div>



            </div>
        </div>
        <div class="tab_content">
            <table class="layui-table  customize-table" id="role_table" lay-filter="role_table"></table>
            <div id="table_page" class="table_page"></div>
        </div>

    </div>
    <!--备注-->
    <div id="memo_add" class="layui-hide layui-row">
        <div class="calculation_content layui-row">
   
                <form class="layui-form " id="addForm" style="padding:20px 5px 0 0;">
                    <div class="layui-form-item addFrom_item">
                        <label class="layui-form-label addFrom_label" >备注:</label>
                        <div class="layui-inline " style="width:350px">
                        <textarea   class="layui-textarea" id  = "add_memo"  maxlength="500"></textarea>
                        </div>

                   
                  
            </div>
            </form>
        </div>

    </div>

    <script type="text/javascript" th:src="@{/public/js/admin/alarm/query.js}"></script>
</div>

</html>