<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="admin/layout">
<div th:fragment="content">
    <link rel="stylesheet" th:href="@{/public/lib/ztree/css/zTreeStyle/zTreeStyle.css}" media="all" />
    <link rel="stylesheet" th:href="@{/public/css/admin/basicData/complexConf.css}" media="all" />
    <div class="container">
        <blockquote class="layui-elem-quote tabBreacrumb">
            <span class="layui-breadcrumb" lay-separator=">">
                <a class="park_select">园区</a>
                <span th:each="item:${nb}">
                    <a th:text="${item}"></a>
                    </span>
            </span>
        </blockquote>
        <div id="complex_content">
            <div class="chart-title">
                <div class="complex_tree">
                    <ul class="ztree" id="tree"></ul>
                </div>
                <div class="title">
                    <button class="layui-btn layui-btn-sm add" th:if="${MENU1407Add.visible}">新增</button>
                    <button class="layui-btn layui-btn-sm edit" th:if="${MENU1407Modify.visible}">修改</button>
                    <button class="layui-btn layui-btn-sm delete" th:if="${MENU1407Delete.visible}">删除</button>
                    <button class="layui-btn layui-btn-sm setup" th:if="${MENU1407Mainpage.visible}">设定主页</button>
                </div>
            </div>
            <div id="conf_contain">
                <div class="editorMain" id="editor1"></div>
            </div>
        </div>
    </div>
    <!--新增/修改-->
    <form class="layui-form layui-hide" id="addForm">
        <div class="layui-form-item add_htImgId">
            <label class="layui-form-label"><span class="red">* </span>综合展示画面标识：</label>
            <div class="layui-input-inline">
                <input type="text" name="htImgId" id="htImgId" value="" onKeyUp="value=value.replace(/[\W]/g,'')" maxlength='20' class="layui-input"/>
            </div>
            <i class="fa fa-exclamation-circle tip_icon" id="htImgId_tip"></i>
        </div>
        <div class="layui-form-item edit_htImgId layui-hide">
            <label class="layui-form-label">综合展示画面标识：</label>
            <div class="layui-input-inline">
                <div id="edit_htImgId"></div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label"><span class="red">* </span>是否为主页：</label>
            <div class="layui-input-inline">
                <input type="checkbox" name="isMainPage" id="isMainPage" value="true" lay-skin="switch">
            </div>
            <i class="fa fa-exclamation-circle tip_icon" id="isMainPage_tip"></i>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">备注：</label>
            <div class="layui-input-inline">
                <textarea name="memo" id="memo" maxlength="300" class="layui-textarea"></textarea>
            </div>
        </div>
    </form>
    <!--删除-->
    <form class="layui-form layui-hide" id="deleteForm">
        <div class="layui-form-item">
            <label class="layui-form-label">综合展示画面标识：</label>
            <div class="layui-input-inline">
                <div id="de_htImgId"></div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">是否为主页：</label>
            <div class="layui-input-inline">
                <div id="de_isMainPage"></div>
            </div>
        </div>
        <div class="layui-form-item problem">
            确定要删除此综合展示画面吗？
            如果删除的是主页，请在删除后选择其他的画面设置为主页。
        </div>
    </form>
    <!--设定主页-->
    <form class="layui-form layui-hide" id="setupForm">
        <div class="layui-form-item">
            <label class="layui-form-label">综合展示画面标识：</label>
            <div class="layui-input-inline">
                <div id="set_htImgId"></div>
            </div>
        </div>
        <div class="layui-form-item problem">
            确定将此综合展示画面设置为主页吗？
            设定成功之后原来的主页将变为非主页。
        </div>
    </form>

    <script type="text/javascript" th:src="@{/public/lib/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/public/lib/ztree/js/jquery.ztree.core.js}"></script>
    <!-- ht config -->
    <script src='custom/configs/htconfig.js'></script>

    <!-- configuration for editor -->
    <script src='custom/configs/config.js'></script>

    <!-- ht core -->
    <script src='libs/ht.js'></script>
    <!-- ht plugins -->
    <script src="libs/ht-cssanimation.js"></script>
    <script src='libs/ht-contextmenu.js'></script>
    <script src='libs/ht-dialog.js'></script>
    <script src='libs/ht-edgetype.js'></script>
    <script src='libs/ht-form.js'></script>
    <script src='libs/ht-overview.js'></script>
    <script src="libs/ht-autolayout.js"></script>
    <script src="libs/ht-obj.js"></script>
    <script src="libs/ht-historymanager.js"></script>
    <script src="libs/ht-ui.js"></script>
    <script src="libs/ht-vector.js"></script>

    <!-- socket.io -->
    <script src="socket.io/socket.io.js"></script>

    <script type="text/javascript" th:src="@{/public/js/admin/basicData/complexConf.js}"></script>
    </div>
</html>