<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="admin/layout">
<div th:fragment="content">
    <link rel="stylesheet" th:href="@{/public/css/admin/benchmarking/indexRanking.css}" media="all" />
    <div class="container">
        <blockquote class="layui-elem-quote tabBreacrumb">
            <span class="layui-breadcrumb" lay-separator=">">
                <a class="park_select">园区</a>
                <span th:each="item:${nb}">
                    <a th:text="${item}"></a>
                    </span>
            </span>
        </blockquote>
        <div id="index_content">
            <div id="index_left">
                <form class="layui-form leftSearch">
                    <div class="layui-form-item">
                        <label class="layui-form-label search_label">时间：</label>
                        <div class="layui-input-inline">
                            <select name="year" id="year" lay-filter="year">

                            </select>
                        </div>
                        <div class="layui-form-mid layui-word-aux">年</div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-input-inline">
                            <select name="month" id="month" lay-filter="month">
                                <option value="all">全</option>
                                <option value="01">1</option>
                                <option value="02">2</option>
                                <option value="03">3</option>
                                <option value="04">4</option>
                                <option value="05">5</option>
                                <option value="06">6</option>
                                <option value="07">7</option>
                                <option value="08">8</option>
                                <option value="09">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                            </select>
                        </div>
                        <div class="layui-form-mid layui-word-aux">月度</div>
                    </div>
                </form>
                <div class="objType">
                    <ul id="typeNav">
                        <li data-id="electricity" class="layui-this">万元GDP电耗</li>
                        <li data-id="water">万元GDP水耗</li>
                        <li data-id="energy">万元GDP能耗</li>
                        <li data-id="addValue">万元工业增加值能耗</li>
                    </ul>
                </div>
            </div>
            <div id="index_right">
                <div class="international">
                    <div id="chart1"></div>
                </div>
                <div class="domestic">
                    <div id="chart2"></div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" th:src="@{/public/lib/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/public/lib/moment/moment.min.js}"></script>
    <script type="text/javascript" th:src="@{/public/js/admin/benchmarking/indexRanking.js}"></script>
</div>
</html>