/*
 * @Author: xzl 
 * @Date: 2019-10-22 16:06:23 
 * @Last Modified by: xzl
 * @Last Modified time: 2019-12-30 14:37:53
 */
 #map_content{
     width: 100%;
     height: calc(100% - 10px);
     margin: -10px 0 0 0;
     z-index: 100;position: relative;

 }
 .right_content{
    position: absolute;
    top:47px;
    right: 0px;
    display: flex;
    display: -webkit-flex;  
    height: 100%;
 }
 /*全屏*/
.fullScreen{
    position: relative;   
    z-index: 3;
    right: 5px;
    background: rgba(1,30,61,0.5)!important;
}
.right_content_first{
    width:56px;
    height:100%;
    position:relative;
 
}
.showBtn{
      margin: auto;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0; 
      right: -15px;
    width:40px;
    height:80px; 
    background: rgba(1,30,61,0.6)!important;
    border-radius:40px 0 0 40px; /* 左上、右上、右下、左下 */
    cursor: pointer;
}
.showBtnIcon{
    font-size: 30px;
     color:  #359159;
     margin:25px  0  0  10px;
     display: inline-block;
}
 .company_list{
    height:100%;
    background-color:rgba(8,18,31,0.2);
    overflow:auto;
    border-left:rgba(9, 73, 71, 0.5) 1px solid;
    transition: width 0.4s ease-out, opacity 0.3s ease-in, visibility 0.2s ease-in;
    -webkit-transition:  width 0.4s ease-out, opacity 0.3s ease-in, visibility 0.2s ease-in;
    -moz-transition:  width 0.4s ease-out, opacity 0.3s ease-in, visibility 0.2s ease-in;
   -ms-transition: width 0.4s ease-out, opacity 0.3s ease-in, visibility 0.2s ease-in;
   -o-transition: width 0.4s ease-out, opacity 0.3s ease-in, visibility 0.2s ease-in;
    visibility: 0;
    opacity: 0;
    width: 0;
 }
 .company_list_active{
    width: 350px;
    opacity: 1;
    visibility: 1;
 }
 .company_list p{
     color: #f2f2f2;
     cursor: pointer;
     padding:10px 0 5px 10px;
     width: 100%;
 }
 .company-this{
 color: #359159 !important;
 font-weight: 700;
 }
 /* 弹框样式 */
 .mapShow{
    width: 530px;
    height: 330px;
    margin-top:5px;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    border:rgba(0, 255, 0, 0.8) 1px solid;
    display: flex;
  
 }
 .mapShow .mapShowTitle{
     width: 530px;
     text-align: center;
     font-weight: 700;
    height: 60px;
    padding-top:30px;
    font-size: 20px;
    color: #ffffff;
    background-color: #000;
 
    background-image: linear-gradient(to right,#000, rgb(88, 213,118) );
 }
 
 .mapShowContent{

     width: 530px;
     height: 270px;
     display: flex;
     display: -webkit-flex;
     flex-direction: row;
     color: #ffffff;

     background: rgba(0, 0, 0, 0.8);
    
 }
 .mapShowConent_left,.mapShowConent_right{
    margin-top:15px;
 }
 .mapShowConent_left div{
     padding-bottom: 15px;
     width: 100%;
 }

 .titleIcon {
     display: inline-block;
     width: 7px;
     height: 7px;
     background-color: #da2f69;
     margin: 0 3px 0 20px;
   
 }
 .mapShowConent_left div >p:nth-child(2){
    width: 130px;
    text-align: right;
    display: inline-block;
}
.mapShowConent_left div > p:nth-child(3){
    width: 90px;
    text-align: center;
  display: inline-block;
  
}
.mapShowConent_left div > p:nth-child(4){
  width: 60px;
  display: inline-block;
  text-align: right;
  
}
 .mapShowConent_left{
     width: 320px;
     height:180px;
     margin-right: 10px;
 }
 .mapShowConent_right{
     width: 180px;
     height: 180px;
     margin-right: 20px;
     border: 1px solid #bebcbc;
     overflow: hidden;
     display: -webkit-box;
     display: -webkit-flex;
     display: -ms-flexbox;
     display:-moz-box;
     display: -moz-flex;
     display: flex;
     justify-content: center;
     align-items: center;
 }
 .mapShowConent_right img{
     width: auto;
     height: auto;
     max-width: 100%;
     max-height: 100%;
 }
 

.company_list::-webkit-scrollbar  {
    width: 8px;
    height: 8px;
    background-color: #ddd;
}

.company_list::-webkit-scrollbar-track   {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    background-color: #F5F5F5;
}

.company_list::-webkit-scrollbar-thumb  {
    border-radius: 4px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #cacaca;
}

.company_list .layui-colla-icon {
    position: absolute;
    left: calc(100% - 20px) !important;
    top: 15px;
    font-size: 15px;
    font-weight: 700;
    
}
.company_list .layui-colla-title{
    height: 60px;
    color: #01ff44;
    background-color:rgba(8,18,31,0.2);
    padding: 15px 15px 0 35px;
    font-size: 15px;
    font-weight: 700;
}
.company_list .layui-colla-item{
    border-bottom:rgba(9, 73, 71, 0.5) 1px solid ;
    border-top:none;
    border-right:none;
}

.company_list .layui-colla-content {
    border:none;
    background: rgba(1,30,61,0.1);
    height: 70px;
    color: #77D3EC;
    font-family: 宋体;
}

.layui-collapse {
     border-width: 0 !important; 
     border-style: none; 
     border-radius: none; 
}

