#GDP_content{
    height:1px;
    flex-grow:1;
    width:100%;
    position:relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:-moz-box;
    display: -moz-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    justify-content: space-between;
}

.table_title{
    padding:0 10px 10px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:-moz-box;
    display: -moz-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*时间*/
.timeSelect{
    margin-left:20px;
    flex-basis:400px;
    flex-grow: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
}

#timeInput1,#timeInput2{
    display:inline-block;
    width:130px;
    margin-left:10px;
}

.table_title .layui-btn{
    margin-left:0;
}

.GDP_table{
    position: relative;
    height:1px;
    flex-grow: 1;
    margin:0 10px;
}

#table1{
    width:100%;
}

.table_content .layui-table-view{
    margin-bottom:0;
}

#table_page .layui-laypage{
    margin-bottom:0;
}

/*新增修改GDP 弹框*/
#GDP_add .layui-form-label{
    width:120px;
}
#GDP_add .layui-form{
    padding-top:10px;
}
#edit_yearMonth{
    line-height: 38px;
}

/*删除GDP 弹框*/
#GDP_delete .layui-form-label{
    width:120px;
}
#GDP_delete #delete_yearMonth,#delete_GDP,#delete_addValue{
    line-height: 38px;
}

.problem{
    color:red;
    font-size:16px;
    padding-left:25px;
}
.red{
    color:red;
}
.label_tip{
    float:right;
    font-size: 10px;
    width: calc(50% - 200px);
    color: #a3a2a2;
    padding-top: 2px;
    text-align: left;
}