<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="admin/layout">
<div th:fragment="content">
    <link rel="stylesheet" th:href="@{/public/css/admin/fileManagement/fileManagement.css}" media="all" />
    <div class="container">
        <blockquote class="layui-elem-quote tabBreacrumb">
            <span class="layui-breadcrumb" lay-separator=">">
                <a class="park_select">园区</a>
                <span th:each="item:${nb}">
                    <a th:text="${item}"></a>
                    </span>
            </span>
        </blockquote>
        <div class="file_content">
            <div class="table_title layui-form">
                <div class="layui-inline">
                    <label class="search_label">文件名：</label>
                    <div class="layui-input-inline">
                        <input type="text" value="" class="layui-input" id="file_name">
                    </div>
                </div>
                <div class="layui-inline">
                    <button class="layui-btn layui-btn-sm" id="search_btn"  th:if="${MENU1100Query.visible}">查询</button>
                    <button class="layui-btn layui-btn-sm" id="add_btn" th:if="${MENU1100Add.visible}">新增</button>
                    <button class="layui-btn layui-btn-sm" id="edit_btn" th:if="${MENU1100Modify.visible}">修改</button>
                    <button class="layui-btn layui-btn-sm" id="del_btn" th:if="${MENU1100Delete.visible}">删除</button>
                    <button class="layui-btn layui-btn-sm" id="download_btn" th:if="${MENU1100Download.visible}">下载</button>
                </div>
            </div>
            <div class="table_content">
                <table id="file_table" lay-filter="file_table"></table>
                <div id="table_page"></div>
            </div>
        </div>
    </div>

    <!--新增修改文件-->
    <div id="file_add" class="layui-hide">
        <form class="layui-form" enctype="multipart/form-data" method="post">
            <div class="layui-form-item layui-hide">
                <label class="layui-form-label">文件名：</label>
                <div class="layui-input-inline"><span id="add_file_name"></span></div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">选择文件：</label>
                <div class="layui-input-inline">
                    <input type="file" name="file" id="upload_file" multiple required autocomplete="off"/>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">描述：</label>
                <div class="layui-input-inline">
                    <input type="text" class="layui-input" id="add_description">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">备注：</label>
                <div class="layui-input-inline">
                    <textarea class="layui-textarea" id="memo" maxlength="300"></textarea>
                </div>
            </div>
        </form>
    </div>
    <script type="text/javascript" th:src="@{/public/js/admin/fileManagement/fileManagement.js}"></script>
</div>
</html>