
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="admin/layout">
<div th:fragment="content">
        <link rel="stylesheet" th:href="@{/public/css/admin/system/role.css}" media="all" />
        <div class="container">
                <blockquote class="layui-elem-quote  tabBreacrumb">
                        <span class="layui-breadcrumb" lay-separator=">">
                            <span th:each="item:${nb}">
                                <a th:text="${item}"></a>
                                </span>
                        </span>
                </blockquote>
                <div class="control_div">
                    <div class="layui-inline">
                        <form class="layui-form" >
                            <div class="layui-inline search_margin">
                                <label class="search_label">角色标识：</label>
                                <div class="layui-input-inline">
                                    <input type="text" value=""  class="layui-input search_input" id="role_code">
                                </div>
                            </div>
                            <div class="layui-inline search_margin">
                                <label class="search_label">角色名称：</label>
                                <div class="layui-input-inline">
                                    <input type="text" value="" class="layui-input search_input" id="role_name">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="layui-inline" id="btnGroup">
                        <div class="layui-inline">
                            <button class="layui-btn  layui-btn-sm " id="search_btn" th:if="${MENU1503Query.visible}">查询</button>
                        </div>
                        <div class="layui-inline">
                            <button class="layui-btn  layui-btn-sm " id="add_btn" th:if="${MENU1503Add.visible}">新增</button>
                        </div>
                        <div class="layui-inline">
                            <button class="layui-btn   layui-btn-sm " id="edit_btn" th:if="${MENU1503Modify.visible}">修改</button>
                        </div>
                        <div class="layui-inline">
                            <button class="layui-btn   layui-btn-sm " id="del_btn" th:if="${MENU1503Delete.visible}">删除</button>
                        </div>
                  <div class="layui-inline">
                            <button class="layui-btn   layui-btn-sm " id="authority_maintenance_btn" th:if="${MENU1503authEdit.visible}">权限维护</button>
                        </div>
                
                    </div>
                </div>
                <div class="tab_content">
                    <table class="layui-table  customize-table" id="role_table" lay-filter="role_table"></table>
                    <div id="table_page" class="table_page"></div>
                </div>
                
                </div>
                <!--新增修改角色-->
                <div id="role_add" class="layui-hide layui-row">
                    <div class="calculation_content layui-row">
                        <div class=" layui-col-md12">
                            <form class="layui-form " id="addForm" style="padding:20px 5px 0 0;">
                                <div class="layui-form-item addFrom_item">
                                    <label class="layui-form-label addFrom_label"  style="width: 120px;"><span style="color: red;">* </span>角色标识:</label>
                                    <div class="layui-inline " style="width:350px">
                                    <input class="layui-input" autocomplete="off" type="text" id="add_role_code" onKeyUp="value=value.replace(/[\W]/g,'')" >
                
                                    </div>
                                    <i class="fa fa-exclamation-circle tip_icon" id="add_role_code_tip"></i>

                                </div>
                                <div class="layui-form-item addFrom_item">
                                    <label class="layui-form-label addFrom_label"  style="width: 120px;"><span style="color: red;">* </span>角色名称:</label>
                                    <div class="layui-input-inline " style="width:350px">
                                    <input class="layui-input" autocomplete="off" type="text" id="add_role_name">
                
                
                                    </div>
                                    <i class="fa fa-exclamation-circle tip_icon" id="add_role_name_tip"></i>

                                </div>
                                
                                <div class="layui-form-item addFrom_item">
                                    <label class="layui-form-label addFrom_label" style="width: 120px;">备注：</label>
                                    <div class="layui-input-inline " style="width:350px">
                                        <textarea class="layui-textarea" id="memo" maxlength="300"></textarea>
                                    </div>
                                </div>
                
                        </div>
                        </form>
                    </div>
                
                </div>
                
                <!-- 权限维护 -->
                <div id="role_auth" class="layui-hide layui-row">
                    <div class="treeTable_content">
                            <table class="layui-table" id="treeTable" lay-filter="treeTable"></table>
                        <!-- <div class="calculationLeft " id="">
                            <ul class="ztree" id="role_tree"></ul>
                    </div> -->
                    </div>
                </div>
   
   
        <script type="text/javascript" th:src="@{/public/js/admin/system/role.js}"></script>

</div>

</html>