<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>实时监测</title>
    <link rel="stylesheet" th:href="@{/public/lib/layui/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/public/css/public.css}" media="all">
    <link rel="stylesheet" th:href="@{/public/lib/font-awesome-4.7.0/css/font-awesome.css}" media="all" />
    <link rel="stylesheet" th:href="@{/public/lib/ztree/css/zTreeStyle/zTreeStyle.css}" media="all" />
    <link rel="stylesheet" th:href="@{/public/css/admin/energyMonitor/energyMonitor.css}" media="all" />
</head>
<body class="childrenBody">
<div class="container">
    <blockquote class="layui-elem-quote tabBreacrumb">
		<span class="layui-breadcrumb" lay-separator=">">
			<a class="park_select">园区</a>
			<a>用能监测</a>
			<a><cite>实时监测</cite></a>
        </span>
    </blockquote>
    <div id="monitor_content">
        <div class="monitor_tree">
            <div class="ztree" id="tree"></div>
        </div>
        <div class="monitor_chart">
            <div id="chart1"></div>
        </div>
    </div>
</div>
<!--弹框历史折线-->
<div class="layui-hide" id="dialogCon">
    <div id="historyChart">
        <div class="chart-title">
            <div class="layui-form">
                <span>开始时间：</span>
                <input type="text" class="layui-input" id="time1" />
                <span>结束时间：</span>
                <input type="text" class="layui-input" id="time2" />
                <span>时间间隔：</span>
                <span class="layui-breadcrumb interval" lay-separator="|">
                    <a href="" class="inter layui-this" data-id="5">5分钟</a>
                    <a href="" class="inter" data-id="15">15分钟</a>
                    <a href="" class="inter" data-id="60">1小时</a>
                </span>
            </div>
            <div class="layui-btn-group">
                <button class="layui-btn query">查询</button>
            </div>
        </div>
        <div id="chart-content"></div>
    </div>
</div>
<script type="text/javascript" th:src="@{/public/lib/jquery/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/public/lib/layui/layui.js}"></script>
<script type="text/javascript" th:src="@{/public/lib/echarts/echarts.min.js}"></script>
<script type="text/javascript" th:src="@{/public/lib/ztree/js/jquery.ztree.core.js}"></script>

<!-- ht config -->
<script src='custom/configs/htconfig.js'></script>

<!-- configuration for editor -->
<script src='custom/configs/config.js'></script>

<!-- ht core -->
<script src='libs/ht.js'></script>
<!-- ht plugins -->
<script src="libs/ht-cssanimation.js"></script>
<script src='libs/ht-contextmenu.js'></script>
<script src='libs/ht-dialog.js'></script>
<script src='libs/ht-edgetype.js'></script>
<script src='libs/ht-form.js'></script>
<script src='libs/ht-overview.js'></script>
<script src="libs/ht-autolayout.js"></script>
<script src="libs/ht-obj.js"></script>
<script src="libs/ht-historymanager.js"></script>
<script src="libs/ht-ui.js"></script>
<script src="libs/ht-vector.js"></script>
<script src='custom/libs/vintage.js'></script>
<script src='custom/libs/roma.js'></script>
<script src='custom/libs/shine.js'></script>
<script src='custom/libs/infographic.js'></script>
<script src='custom/libs/macarons.js'></script>
<script src='custom/libs/dark.js'></script>
<!-- ht core -->
<script src="libs/ht-animation.js"></script>
<script src="libs/ht-flow.js"></script>
<script src="libs/ht-dashflow.js"></script>
<script src="libs/ht-htmlnode.js"></script>

<script type="text/javascript" th:src="@{/public/lib/sockjs/sockjs.min.js}"></script>
<script type="text/javascript" th:src="@{/public/lib/sockjs/stomp.min.js}"></script>
<script type="text/javascript" th:src="@{/public/js/admin/public.js}"></script>
<script type="text/javascript" th:src="@{/public/js/admin/energyMonitor/energyMonitor.js}"></script>
</body>
</html>