<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="admin/layout">
<div th:fragment="content">
    <link rel="stylesheet" th:href="@{/public/lib/ztree/css/zTreeStyle/zTreeStyle.css}" media="all"/>
    <link rel="stylesheet" th:href="@{/public/css/admin/energyMonitor/historyData.css}" media="all"/>
    <div class="container">
        <blockquote class="layui-elem-quote tabBreacrumb">
		<span class="layui-breadcrumb" lay-separator=">">
			<a class="park_select">园区</a>
            <span th:each="item:${nb}">
                <a th:text="${item}"></a>
                </span>
        </span>
        </blockquote>
        <div id="history_content">
            <ul class="history_nav">
                <li class="h_item h_active" data-id="electric"><a href="javascript:void(0)">电</a></li>
            </ul>
            <div class="history_tree">
                <div class="layui-collapse" lay-accordion lay-filter="tree">
                    <!--<div class="layui-colla-item">-->
                    <!--<h2 class="layui-colla-title">按工厂</h2>-->
                    <!--<div class="layui-colla-content layui-show">-->
                    <!--<div class="ztree1" id="tree1"></div>-->
                    <!--</div>-->
                    <!--</div>-->
                </div>
            </div>
            <div class="history_chart">
                <div class="history_select layui-form">
                    <div class="timeSelect">
                        <span class="title timeTilte">时间:</span>
                        <span class="layui-breadcrumb timeType" lay-separator="|">
                            <a href="javascript:void(0)" data-id="year" class="breadcrumb">年</a>
                            <a href="javascript:void(0)" data-id="month" class="breadcrumb">月</a>
                            <a href="javascript:void(0)" data-id="day" class="breadcrumb layui-this">日</a>
                        </span>
                        <div class="layui-inline" id="timeDiv">
                            <input type="text" class="layui-input dateInput" id="timeInput" value="">
                        </div>
                    </div>
                    <div class="timeOption">
                        <span class="title">时间间隔:</span>
                        <span class="layui-breadcrumb timeIntervel" lay-separator="|"></span>
                    </div>
                    <div class="dataType">
                        <span class="title">数值类型:</span>
                        <span class="layui-breadcrumb valType" lay-separator="|">
                            <a href="javascript:void(0)" data-id="first" class="breadcrumb layui-this">时刻值</a>
                            <a href="javascript:void(0)" data-id="average" class="breadcrumb">平均值</a>
                            <a href="javascript:void(0)" data-id="max" class="breadcrumb">最大值</a>
                            <a href="javascript:void(0)" data-id="min" class="breadcrumb">最小值</a>
                            <a href="javascript:void(0)" data-id="diff" class="breadcrumb">差值</a>
                    </span>
                    </div>
                    <div class="parameter">
                        <span class="title">参数:</span>
                        <div class="layui-input-inline" id="params">

                        </div>
                    </div>
                    <button class="layui-btn layui-btn-sm query" th:if="${MENU0402Query.visible}">查询</button>
                </div>
                <div class="chart-content">
                    <div id="chart1"></div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" th:src="@{/public/lib/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/public/lib/ztree/js/jquery.ztree.core.js}"></script>
    <!--如果需要用到 编辑功能 或 checkbox / radio 还需要分别加载-->
    <script type="text/javascript" th:src="@{/public/lib/ztree/js/jquery.ztree.excheck.js}"></script>
    <script type="text/javascript" th:src="@{/public/lib/ztree/js/jquery.ztree.exedit.js}"></script>

    <script type="text/javascript" th:src="@{/public/js/admin/energyMonitor/historyData.js}"></script>
</div>
</html>